.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clearfloat {
  clear: both;
}
.collaborator-video {
  z-index: 2;
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: default;
  color: #FFF;
}
.collaborator-video .video-cutoff {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 75px;
  z-index: 0;
  position: relative;
  -webkit-box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23), 10px 10px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23), 10px 10px 10px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23), 10px 10px 10px rgba(0, 0, 0, 0.19);
}
.collaborator-video .video-cutoff video {
  height: 150px;
  margin-left: -25px;
}
.collaborator-video .video-cutoff .collaborator-video-avatar {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  display: none;
}
.collaborator-video .video-audio {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 85%;
  right: 0px;
  cursor: pointer;
  background: url(/img/audio_sprite.png) no-repeat;
}
.collaborator-video .video-audio:hover {
  background-position-x: -24px;
}
.collaborator-video .video-audio.active {
  background-position-y: -24px;
}
.collaborator-video .video-video {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 85%;
  left: 0px;
  cursor: pointer;
  background: url(/img/camera_sprite.png) no-repeat;
}
.collaborator-video .video-video:hover {
  background-position-x: -24px;
}
.collaborator-video .video-video.active {
  background-position-y: -24px;
}
.collaborator-video.my-video {
  top: 10px;
  right: 10px;
}
.chat-box {
  position: absolute;
  z-index: 1;
  right: 0px;
  width: 300px;
  height: 100%;
  background: #424242;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.23), -2px 10px 10px rgba(0, 0, 0, 0.19);
}
.chat-box .chat-button {
  position: absolute;
  top: 50%;
  left: -36px;
  width: 36px;
  height: 49px;
  background: url(/img/junto.png) no-repeat 2px 9px, url(/img/tray_tab.png) no-repeat;
}
.chat-box .chat-button .chat-unread {
  display: none;
  background: #DAB539;
  position: absolute;
  top: -3px;
  left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #424242;
  color: #424242;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}
.chat-box .junto-header {
  width: 100%;
  padding: 16px 8px 16px 16px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  background-color: #000000;
  color: #f5f5f5;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23), 10px 10px 10px rgba(0, 0, 0, 0.19);
}
.chat-box .junto-header .cursor-toggle {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-top: -8px;
  float: right;
  background: url(/img/cursor_sprite.png) no-repeat;
}
.chat-box .junto-header .cursor-toggle:hover {
  background-position-x: -32px;
}
.chat-box .junto-header .cursor-toggle.active {
  background-position-y: -32px;
}
.chat-box .junto-header .video-toggle {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  margin-top: -8px;
  float: right;
  background: url(/img/video_sprite.png) no-repeat;
}
.chat-box .junto-header .video-toggle:hover {
  background-position-x: -32px;
}
.chat-box .junto-header .video-toggle.active {
  background-position-y: -32px;
}
.chat-box .participants {
  width: 100%;
  height: 150px;
  padding: 16px 0px 0px 0px;
  text-align: left;
  color: #f5f5f5;
  overflow-y: auto;
}
.chat-box .participants .participant {
  width: 89%;
  padding: 8px 8px 2px 8px;
  color: #f5f5f5;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.chat-box .participants .participant .chat-participant-image {
  width: 15%;
  float: left;
  overflow: hidden;
  color: #BBB;
  padding-top: 2px;
}
.chat-box .participants .participant .chat-participant-image img {
  border: 2px solid #424242;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  cursor: pointer;
}
.chat-box .participants .participant .chat-participant-name {
  width: 73%;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin-top: 12px;
  padding: 2px 8px 0;
  text-align: left;
}
.chat-box .chat-header {
  width: 100%;
  padding: 16px 8px 16px 16px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  background-color: #000000;
  color: #f5f5f5;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23), 10px 10px 10px rgba(0, 0, 0, 0.19);
}
.chat-box .chat-header .sound-toggle {
  width: 24px;
  height: 24px;
  margin-right: 32px;
  margin-top: -2px;
  float: right;
  background: url(/img/sound_sprite.png) no-repeat;
}
.chat-box .chat-header .sound-toggle:hover {
  background-position-x: -24px;
}
.chat-box .chat-header .sound-toggle.active {
  background-position-y: -24px;
}
.chat-box .chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 8px 8px 8px 8px;
  font-size: 13px;
  outline: none;
}
.chat-box .chat-messages {
  width: 100%;
  height: 196px;
  padding: 16px 0px 0px 0px;
  overflow-y: auto;
}
.chat-box .chat-messages .chat-message {
  width: 89%;
  padding: 8px 8px 2px 8px;
  color: #f5f5f5;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.chat-box .chat-messages .chat-message a:link {
  color: #4fb5c0;
  text-decoration: underline;
}
.chat-box .chat-messages .chat-message a:visited {
  color: #aea9fd;
  text-decoration: underline;
}
.chat-box .chat-messages .chat-message a:hover {
  color: #dab539;
  text-decoration: underline;
}
.chat-box .chat-messages .chat-message .chat-message-user {
  width: 15%;
  float: left;
  overflow: hidden;
  color: #BBB;
  padding-top: 2px;
}
.chat-box .chat-messages .chat-message .chat-message-user img {
  border: 2px solid #424242;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  cursor: pointer;
}
.chat-box .chat-messages .chat-message .chat-message-text {
  width: 73%;
  float: left;
  margin-top: 12px;
  padding: 2px 8px 0;
  text-align: left;
}
.chat-box .chat-messages .chat-message .chat-message-time {
  float: right;
  font-size: 10px;
  color: #757575;
}
.topic-box {
  width: 428px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 30px;
}
.topic-box .topic-display {
  position: relative;
  color: #FFFFFF;
  font-size: 42px;
  text-align: left;
  font-family: Helvetica, sans-serif;
}
.topic-box .topic-display .topic-title {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0 0 10px;
  border-radius: 5px;
}
.topic-box .topic-display button.topic-button.edit {
  position: absolute;
  top: -20px;
  left: 0px;
}
.topic-box .topic-editor {
  text-align: left;
}
.topic-box .topic-editor input.topic-input {
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #555;
  padding: 0 10px;
}
.topic-box .topic-editor .topic-input:focus {
  outline: #333 solid thin;
}
.topic-box .topic-editor button {
  background: #10B2CB;
  color: #000000;
  height: 32px;
  text-transform: uppercase;
  border: 1px solid #555;
  margin-left: 10px;
  position: relative;
  top: -2px;
  border-radius: 2px;
  cursor: pointer;
}
.map-box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.map-box button.map-button.edit {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.map-box .map-container {
  width: 100%;
  height: 100%;
}
.map-box .map-editor {
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.map-box .map-editor input.map-input {
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #555;
  padding: 0 10px;
}
.map-box .map-editor .map-input:focus {
  outline: #333 solid thin;
}
.map-box .map-editor button {
  background: #10B2CB;
  color: #000000;
  height: 32px;
  text-transform: uppercase;
  border: 1px solid #555;
  margin-left: 10px;
  position: relative;
  top: -2px;
  border-radius: 2px;
  cursor: pointer;
}
.leave-room {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #10B2CB;
  color: #000000;
  height: 32px;
  text-transform: uppercase;
  border: 1px solid #555;
  border-radius: 2px;
  cursor: pointer;
}
.share-room-url {
  position: absolute;
  bottom: 20px;
  left: 130px;
  margin: 0;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  overflow: hidden;
  -webkit-perspective: 0;
  perspective: 0;
  -webkit-transform: translateZ(-999999px);
}
.container,
.container-surface,
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
}
.container {
  -webkit-perspective: 300px;
  perspective: 300px;
}
.group {
  -webkit-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}
.surface {
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  /* -webkit-user-select: none; */
}
body {
  /*background-image: url('../content/bg.jpg'); */
  background-image: url('/img/junto-bg-glow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.periodic-item {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 120px;
  height: 160px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 12px rgba(231, 254, 237, 0.6);
  box-shadow: 0 0 12px rgba(231, 254, 237, 0.6);
  color: rgba(240, 240, 240, 0.8);
  text-align: center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.periodic-item-hq {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 360px;
  height: 480px;
  -webkit-border-radius: 9px;
  -webkit-box-shadow: 0 0 36px rgba(231, 254, 237, 0.6);
  border-radius: 9px;
  box-shadow: 0 0 36px rgba(231, 254, 237, 0.6);
  color: rgba(240, 240, 240, 0.8);
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.periodic-item-back {
  width: 240px;
  height: 360px;
  padding: 60px 60px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.periodic-item .number {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2.4px #3cf;
}
.periodic-item-hq .number {
  position: absolute;
  top: 62px;
  right: 60px;
  text-align: right;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 7.2px #3cf;
}
.periodic-item .symbol {
  top: 40px;
  left: 0px;
  right: 0px;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 10px #3cf;
}
.periodic-item-hq .symbol {
  position: absolute;
  top: 122px;
  left: 0px;
  right: 0px;
  font-size: 180px;
  font-weight: bold;
  text-shadow: 0 0 30px #3cf;
}
.periodic-item .name {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  font-size: 12px;
}
.periodic-item-hq .name {
  position: absolute;
  bottom: 90px;
  left: 0px;
  right: 0px;
  font-size: 36px;
}
.periodic-item .mass {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
}
.periodic-item-hq .mass {
  position: absolute;
  bottom: 45px;
  left: 0px;
  right: 0px;
  font-size: 36px;
}
.caption {
  width: 200px;
  height: 32px;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 32px;
  text-shadow: 0 0 10px #3cf;
  -webkit-text-stroke: .2px #3cf;
  color: #fff;
}
.play-button {
  width: 200px;
  height: 200px;
  background-image: url('/img/play-button.png');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.overlay-text {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 20px 20px;
  text-shadow: 0 0 10px #3cf;
  -webkit-text-stroke: .2px #3cf;
  text-align: left;
}
.info-button {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  padding: 20px 20px;
  text-align: right;
  cursor: pointer;
}
.shape-button {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 15px;
  cursor: pointer;
}
.shape-button-indicator {
  pointer-events: none;
}
.shape-button-indicator-box {
  -webkit-box-shadow: 0px 0px 3px #3cf;
  box-shadow: 0px 0px 10px #3cf;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  margin: 14px 14px;
}
.shape-button img {
  width: 30px;
  height: 30px;
}
.shape-flash {
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-shadow: 0 0 10px #3cf;
}
.clickable-text {
  cursor: pointer;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  line-height: 20px;
  padding: 20px 20px;
  pointer-events: none;
}
.info {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
  color: #333;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 10px #3cf;
  box-shadow: 0px 0px 10px #3cf;
}
.info h3 {
  text-align: center;
}
.info .control {
  display: block;
  width: 100%;
  margin: 30px 0px;
  text-align: center;
}
.info button {
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  padding: 4px 10px;
  -webkit-box-shadow: inset 0 0 3px #60cbfa, 0 0 50px #32c8ff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  border-color: #34bff3 rgba(0, 0, 0, 0.05) #003c8b;
  background: #34BFF3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34bff3), color-stop(100%, #074aa2));
  background: -webkit-linear-gradient(#34bff3, #074aa2);
  background: -moz-linear-gradient(#34bff3, #074aa2);
  background: -o-linear-gradient(#34bff3, #074aa2);
  background: -ms-linear-gradient(#34bff3, #074aa2);
  background: linear-gradient(#34bff3, #074aa2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  -webkit-user-select: none;
}
.obscure {
  background-color: rgba(0, 0, 0, 0.5);
}
.bottom-bar {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.signup-box {
  background-color: rgba(23, 152, 202, 0.7);
  border: 3px solid #fff;
  padding: 30px 60px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  -webkit-box-shadow: 0 0 20px #3cf;
  box-shadow: 0 0 20px #3cf;
  text-align: center;
}
.signup-box h3 {
  font-size: 45px;
  font-weight: normal;
  margin: 15px;
}
.signup-box .sub {
  font-size: 13px;
  font-style: italic;
}
.signup-box p {
  text-align: right;
  padding-bottom: 1em;
  line-height: 26px;
}
.signup-box .experience {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.signup-hide {
  font-size: 20px;
  line-height: 80px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
.signup-hide img {
  width: 15px;
  height: 15px;
}
.signup-show {
  font-size: 13px;
  line-height: 20px;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: rgba(23, 152, 202, 0.7);
  border-radius: 3px 3px 0px 0px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: none;
  border-right: 1px solid #fff;
}
.signup {
  text-align: center;
  margin-left: 10px;
}
.signup p {
  padding: 0px 30px 20px 30px;
  margin: 0;
  color: #fff;
}
.signup input {
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  margin: 20px 10px;
}
.input {
  float: left;
  margin-left: 110px;
}
.signup input[type=text] {
  -webkit-appearance: none;
  width: 400px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  float: left;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
}
.signup input[type=text].half {
  width: 190px;
}
.signup input[type=submit] {
  width: 410px;
  height: 30px;
  clear: both;
  float: left;
  color: #fff;
  padding: 4px;
  margin-left: 115px;
  margin-top: 5px;
  -webkit-box-shadow: inset 0 0 3px #60cbfa, 0 0 50px #32c8ff;
  box-shadow: inset 0 0 3px #60cbfa, 0 0 50px #32c8ff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  border-color: #34bff3 rgba(0, 0, 0, 0.05) #003c8b;
  background: #34BFF3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34bff3), color-stop(100%, #074aa2));
  background: -webkit-linear-gradient(#34bff3, #074aa2);
  background: -moz-linear-gradient(#34bff3, #074aa2);
  background: -o-linear-gradient(#34bff3, #074aa2);
  background: -ms-linear-gradient(#34bff3, #074aa2);
  background: linear-gradient(#34bff3, #074aa2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  cursor: pointer;
}
.signup .tweet-button {
  text-align: center;
}
.signup .tweet-button a {
  display: inline-block;
  padding: 0 7px 0 28px;
  background: url('https://twitter.com/favicons/favicon.ico') 7px center no-repeat, -webkit-linear-gradient(top, #ffffff, #dedede);
  background: url('https://twitter.com/favicons/favicon.ico') 7px center no-repeat, -moz-linear-gradient(top, #ffffff, #dedede);
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  line-height: 26px;
}
.signup-error {
  color: #fc0;
  font-size: 18px;
  text-align: center;
}
.jobs-button {
  text-align: right;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
}
#overlay {
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  -webkit-transform: translateZ(999px);
  -webkit-perspective: 0px;
  perspective: 0px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (max-device-width: 480px) {
  #overlay {
    -webkit-transform: translateZ(99999px);
  }
}
.user-login {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 22px;
  text-align: right;
}
.user-login button {
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background: #25646E;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.credit {
  color: #FFF;
  font-size: 12px;
}
.credit a {
  text-decoration: underline;
}
