<head>
    <title>The Next Edge</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <% if (user) { %>
        <script type="text/javascript" src="/jquery.mixitup.min.js"></script>
        <script type="text/javascript" src="/index.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/tne.css">
        <link rel="stylesheet" href="/jquery-ui.css">
        <link rel="stylesheet" href="/jquery-ui.structure.css">
        <link rel="stylesheet" href="/jquery-ui.theme.css">
    <% } %>
</head>