<!doctype html>
<html>
  <% include partials/head.ejs %>
<body>
<% include partials/header.ejs %>
<div class="container">

  <div style="height: 150px;"></div>
  <% include partials/posts.ejs %>
  <% include partials/buckets.ejs %>

</div>
<% include partials/footer.ejs %>
</body>
</html>
