<!doctype html>
<html>
  <% include partials/head.ejs %>
<body>

<% if (user) { %>
  <% include partials/header.ejs %>
<% } %>

<div class="container">

  <% if (!user) { %>

    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>The Next Edge</h1>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
    </div>

  <% } else { %>

    <div style="height: 150px;"></div>
    <% include partials/posts.ejs %>
    <% include partials/buckets.ejs %>

  <% } %>

</div>
<% include partials/footer.ejs %>
</body>
</html>
