<!doctype html>
<html>
<head>
    <title>The Next Edge</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <% if (user) { %>
        <script type="text/javascript" src="/index.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/tne.css">
        <link rel="stylesheet" href="/jquery-ui.css">
        <link rel="stylesheet" href="/jquery-ui.structure.css">
        <link rel="stylesheet" href="/jquery-ui.theme.css">
    <% } %>
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <% if (!user) { %>
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>The Next Edge</h1>

            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
        </div>
    <% } else { %>

        <div class="create-new-bucket">+ new bucket</div>

        <% for (var i=0; i<posts.length; i++) { %>
            <% if (posts[i].message) { %>
                <div class="draggable post" data-id="<%= posts[i].id %>">
                    <%= posts[i].message %>
                </div>
                <br />
            <% } %>
        <% } %>

        <% include partials/buckets.ejs %>

    <% } %>

</div>
</body>
</html>
